<ion-content>
  <ion-header style=" position: fixed; top: 0; left: 0;">
    <header
      style="z-index: 10000;min-height: 60px; background-color: #37373d; display: grid; grid-template-columns: 15% 1fr 22%; padding: 10px 20px;">
      <div style="display: grid; place-items: center; width: auto;">
        <img src="../../assets/Susie_Funk_logoAsset 1.png" style="max-height: 40px;">
      </div>
      <div></div>
      <div style="display: grid; place-items: center;">
        <button class="btn3">
          Schedule My Free Session!
        </button>
      </div>
    </header>
  </ion-header>

  <section style="padding: 40px 30px; margin-top: 65px;">
    <div style="display: grid; place-items: center;">
      <h3 style="margin: 0; text-align: center;">Your Download Should Have Started!</h3>
      <p style="margin: 0;">If your download didn't start, please email <span
          style="color: #cca653; text-decoration: underline;">susiefunkcoachingteam@gmail.com</span></p>
      <h1 style="font-size: 36px; text-align: center;"><span style="color: #cca653; font-weight: 900;">One-Time
          Offer:</span> Free Jumpstart Coaching Session
      </h1>

      <div style="padding: 40px 80px;">
        <p>For a limited time, we are offering our free jumpstart coaching session worth $500. This is your chance to
          work
          with a Susie Funk Coach and become the mother of your dreams!</p>

        <p>Don't miss out on this opportunity to get a jumpstart on your journey to success. Sign up for your free
          coaching session today and take the first step towards reaching your full potential. </p>

        <p>PLUS</p>

        <p>By signing up for this FREE jumpstart session by December 31st, you'll get the limited time offer to go on
          the
          Influential Mother Boutique Retreat ALSO FOR FREE when you sign up for 3 months of signature coaching with ME!
        </p>
      </div>
      <div>
        <button class="btn2">
          Schedule My Free Session!
        </button>
      </div>
    </div>
  </section>

  <section class="testimonial-section">
    <div style="display: grid; grid-template-rows: auto auto;">
      <div style="display: grid; place-items: center;">
        <h1 style="font-size: 40px; margin: 60px 0; color: #0e2647;">Praise for Susie Funk</h1>
      </div>
      <div class="testimonial-card-grid">
        <div class="testimonial-card">
          <div class="card-content">
            <div class="blue-line"></div>
            <div class="img-wrapper">
              <img src="../../assets/Cafe-Rio-2.jpeg" style="border-radius: 50%; height: 140px; width: 140px;">
            </div>
            <div>
              <h1 class="parantheses">"</h1>
            </div>
            <div style="max-width: 250px; text-align: center;">
              <h5>"Susie is a compassionate coach and a skilled listener. My sessions with her have really opened my
                eyes to the ways that I can change my world just by changing the ways that I think about it."</h5>
            </div>
            <div class="grey-line"></div>
            <div>
              <h4 class="quotee">Leah Hatley</h4>
            </div>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="card-content">
            <div class="blue-line"></div>
            <div class="img-wrapper">
              <img src="../../assets/Cafe-Rio-2.jpeg" style="border-radius: 50%; height: 140px; width: 140px;">
            </div>
            <div>
              <h1 class="parantheses">"</h1>
            </div>
            <div style="max-width: 250px; text-align: center;">
              <h5>“I have truly had my eyes opened to a new and positive way of thinking about the circumstances of
                life. I worry less, celebrate more and show up with love for myself and others in a more authentic way.
                ”</h5>
            </div>
            <div class="grey-line"></div>
            <div>
              <h4 class="quotee">Dr. Connie Pierce, DDS</h4>
            </div>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="card-content">
            <div class="blue-line"></div>
            <div class="img-wrapper">
              <img src="../../assets/Cafe-Rio-2.jpeg" style="border-radius: 50%; height: 140px; width: 140px;">
            </div>
            <div>
              <h1 class="parantheses">"</h1>
            </div>
            <div style="max-width: 250px; text-align: center;">
              <h5>“Working with Susie has changed all aspects of my life. I have more fulfillment at work, more love and
                connection in my relationships, and more peace in my body image and in showing up as my true and full
                self!"</h5>
            </div>
            <div class="grey-line"></div>
            <div>
              <h4 class="quotee">Lyndsie Wilsony</h4>
            </div>
          </div>
        </div>
      </div>
      <div style="display: grid; place-items: center; margin: 0 0 60px 0;">
        <button class="btn2">
          Schedule My Free Session!
        </button>
      </div>
    </div>
  </section>
  
  <section style="padding: 50px 50px; display: grid; grid-template-columns: 66% 1fr; gap: 30px;">
    <div style="display: grid; place-items: center end;">
      <h1>The Spark In You...</h1>
      <p>It's not about who you once were, it's about who you are now and who you have the potential to be.</p>

      <p>And today is the day to become the mother of your dreams. Your adult children will be better for it! In fact, they depend on it! Family relationships are vital for health, wellness, and longevity!</p>
        
      <p>Midlife is the best time for growth and development as a mother, it's no longer just about taking care of children's immediate needs, sleep schedules, extra curricular activities, chore charts, food prep and potty training-</p>
        
      <p>This is next level mothering, some intense stuff that we have to up our game for, not only because you are worth it, but they are too!</p>
      <h1>Will Light a Fire In Them</h1>
    </div>

    <div style="display: grid; place-items: center;">
      <img src="../../assets/unsplash-family.jpg" style="object-fit: cover; max-height: 63vh; box-shadow: 4px 4px 0px #c89839;">
    </div>
  </section>


  <ion-footer>
    <footer style="min-height: 120px; background-color: #231f20;">
      <div style="display: grid; place-items: center; padding: 20px;">
        <img src="../../assets/bouquet.png" style="height: 80px;">
        <div style="color: #ffffff; padding: 10px;">
          2023 Susie Funk - All Rights Reserved
        </div>
      </div>
      
    </footer>
  </ion-footer>
</ion-content>